# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js build output
.next/
out/
build/

# IDE and OS files
.DS_Store
*.pem
.idea/
.vscode/

# Environment variables (CRITICAL)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
.firebase/
*-debug.log
firebase-export/
firestore-debug.log
ui-debug.log
